* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: linear-gradient(-45deg, rgb(211, 153, 175), rgba(179, 222, 233, 0.8), rgb(211, 153, 175), rgba(179, 222, 233, 0.8));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.calculator {
  background-color: white;
  box-shadow: 4px 5px 10px rgb(184, 175, 175), -4px -5px 10px rgb(158, 152, 152);
  border: 1px double gray;
  width: 250px;
  padding: 1rem;
}
.display-container {
  display: flex;
  justify-content: space-between;
}

.display {
  box-shadow: 4px 5px 10px rgb(241, 236, 236), -4px -5px 10px rgb(238, 232, 232);
  width: 75%;
}

.other-btns {
  width: 24%;
  display: flex;
  flex-direction: column;
}

.other-btns > button {
  height: 100%;
  width: 100%;
}

.input-field{
  width: 100%;
  padding: 5px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  background: white;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
}

.btn-wrapper {
  margin-top: 10px;
}

.btn-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 24%;
  height: 100%;
  padding: 5px;
  font-size: 20px;
  background: white;
  border: none;
  box-shadow: 4px 5px 10px rgb(241, 236, 236), -4px -5px 10px rgb(238, 232, 232);
  border-radius: 5px;
}

.colored-btn {
  background-color: rgb(211, 153, 175);
  color: white;
  border: 1px double rgb(0, 0, 0);
}

.colored-btn:active {
  background-color: rgba(141, 24, 112);
  color: black;
}

.span-two {
  width: 50%;
}

button:active {
  background-color: rgb(211, 153, 175);
}
@media only screen and (min-width: 40em) {
  .calculator {
    width: 500px;
  }
  .input-field{
    width: 100%;
    padding: 20px;
    font-size: 40px;
  }
  button {
    height: 100px;
    padding: 20px;
    font-size: 30px;
  }
}